@font-face {
  font-family: 'raleway';
  src: url('fonts/Raleway-ExtraBoldItalic.eot');
  src: url('fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
      url('fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
      url('fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg'),
      url('fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
}

#right-header-bg {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 72pt;
  background-color: rgb(125,14,14);
  height: 72pt;
  color: rgb(125,14,14);
  mix-blend-mode: multiply;
  padding: 10px 50px;
  font-family: 'raleway';
}

#right-header-content {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 72pt;
  color: white;
  padding: 5px 50px 10px 50px;
  font-family: 'raleway';
}

#coming-soon-bg {
  position: absolute;
  top: 75%;
  right: 0;
  font-size: 30pt;
  background-color: rgb(125,14,14);
  height: 30pt;
  color: rgb(125,14,14);
  mix-blend-mode: multiply;
  padding: 10px 50px;
  font-family: 'raleway';
}

#coming-soon-content {
  position: absolute;
  top: 75%;
  right: 0;
  font-size: 30pt;
  color: white;
  padding: 5px 50px 10px 50px;
  font-family: 'raleway';
}
